'context-menu':
  '.terminal-plus .status-icon': [
    {label: 'Red', command: 'terminal-plus:status-red'},
    {label: 'Orange', command: 'terminal-plus:status-orange'},
    {label: 'Yellow', command: 'terminal-plus:status-yellow'},
    {label: 'Green', command: 'terminal-plus:status-green'},
    {label: 'Blue', command: 'terminal-plus:status-blue'},
    {label: 'Purple', command: 'terminal-plus:status-purple'},
    {label: 'Pink', command: 'terminal-plus:status-pink'},
    {label: 'Cyan', command: 'terminal-plus:status-cyan'},
    {label: 'Magenta', command: 'terminal-plus:status-magenta'},
    {label: 'Default', command: 'terminal-plus:status-default'},
    {type: 'separator'},
    {label: 'Hide', command: 'terminal-plus:context-hide'},
    {label: 'Rename', command: 'terminal-plus:context-rename'},
    {label: 'Close', command: 'terminal-plus:context-close'}
  ]
  '.terminal-plus .terminal': [
    {label: 'Copy', command: 'terminal-plus:copy'},
    {label: 'Paste', command: 'terminal-plus:paste'},
    {type: 'separator'},
    {label: 'Hide', command: 'terminal-plus:hide'},
    {label: 'Close', command: 'terminal-plus:close'}
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Terminal-Plus'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'terminal-plus:toggle'
        },
        {
          'label': 'New Terminal'
          'command': 'terminal-plus:new'
        },
        {
          'label': 'Previous Terminal'
          'command': 'terminal-plus:prev'
        },
        {
          'label': 'Next Terminal'
          'command': 'terminal-plus:next'
        },
        {
          'label': 'Close Terminal'
          'command': 'terminal-plus:close'
        },
        {
          'label': 'Close All Terminals'
          'command': 'terminal-plus:close-all'
        }
      ]
    ]
  }
]
