'.platform-darwin atom-workspace':
  'cmd-shift-t': 'terminal-plus:new'
  'cmd-shift-j': 'terminal-plus:prev'
  'cmd-shift-k': 'terminal-plus:next'
  'cmd-shift-x': 'terminal-plus:close'
  'ctrl-enter': 'terminal-plus:insert-selected-text'
  'ctrl-`': 'terminal-plus:toggle'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'alt-shift-t': 'terminal-plus:new'
  'alt-shift-j': 'terminal-plus:prev'
  'alt-shift-k': 'terminal-plus:next'
  'alt-shift-x': 'terminal-plus:close'
  'ctrl-enter': 'terminal-plus:insert-selected-text'
  'ctrl-`': 'terminal-plus:toggle'

'.platform-darwin .terminal-plus .terminal':
  'cmd-c': 'terminal-plus:copy'
  'cmd-v': 'terminal-plus:paste'

'.platform-linux .terminal-plus .terminal, .platform-win32 .terminal-plus .terminal':
  'alt-v': 'terminal-plus:paste'
  'alt-c': 'terminal-plus:copy'
