// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.terminal-plus {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  ul {
    padding: 0;
    margin: 0;
  }
}

.terminal-plus-view {

  .panel-heading {
    padding: 2px;
    text-align: right;

    .btn {
      top: 0px;
      height: 3em;
    }
  }

  .panel-divider {
    background-color: inherit;
  }

  .xterm {
    max-height: 300px;
    bottom: @component-padding;
  }

  .terminal {
    height: auto;
    position: relative;
    padding: 0 3px;
    margin: auto;

    > div {
      white-space: pre;
      > span {
        display: inline-block;
        line-height: inherit;
        height: inherit;
        font-weight: normal !important;
      }
    }
  }
}

.terminal-plus.status-bar {
  .icon::before {
    margin-right: 0;
  }
  .term-status {
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
  .icon-plus {
    padding-left: 0.5em;
  }
  .icon-x {
    padding-left: 0.5em;
    color: red;
  }
  .ui-sortable li {
    line-height: normal;
  }
  span {
    cursor: pointer;
    text-align: center;
  }
}
