@import "ui-variables";

.terminal-plus {

  .left {
    float: left;
  }
  .right {
    float: right;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .icon::before {
    margin: 0;
    padding: 0;
  }

  &.terminal-plus-view {

    .btn-toolbar {
      padding: 2px;
      .btn {
        top: 0px;
        height: 3em;
        float: right;
      }
    }

    .xterm {
      max-height: 300px;
      text-align: center;
      > .terminal {
        height: auto;
        position: relative;
        > div {
          white-space: pre;
          > span {
            display: inline-block;
            line-height: inherit;
            height: inherit;
            font-weight: normal !important;
          }
        }
      }
    }
  }

  &.status-bar {
    display: flex;
    flex-direction: row;
    -webkit-user-select: none;
    padding: 0 5px;
    width: 100%;

    > i {
      text-align: center;
      cursor: pointer;
    }
    .icon-x {
      color: red;
      justify-content: flex-end;
    }

    .status-container {
      display: -webkit-flex;
      display: flex;
      -webkit-user-select: none;
      position: relative;
      width: 100%;
      overflow: hidden;
      margin: 0 5px;

      .status-icon {
        -webkit-user-drag: element;
        -webkit-user-select: none;
        padding: 0 6px;
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
      }

      .placeholder {
        pointer-events: none;
        position: absolute;
        top: 0;
        color: @background-color-info;
        z-index: 999;
        margin: 0 -6px;
        padding: 0;
        height: 10px;
        line-height: 10px;

        &::before {
          line-height: inherit;
          height: inherit;
          font-size: 14px;
          font-family: 'Octicons Regular';
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          -webkit-font-smoothing: antialiased;
          text-decoration: none;
          content: "\f05b";
        }

        // &:after {
        //   font-family: 'Octicons Regular';
        //   font-weight: normal;
        //   font-style: normal;
        //   -webkit-font-smoothing: antialiased;
        //   text-decoration: none;
        //   font-size: 16px;
        //   line-height: 8px;
        //   content: "\f05b";
        // }
      }
    }
  }
}
